In [340]:
# Importing Libraries
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [342]:
#load dataset
data = pd.read_csv(r"C:\Users\revan\Downloads\Clean_Dataset.csv")

In [344]:
# Display basic information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [346]:
data.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [348]:
data.tail()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [350]:
# Check for missing values
print(data.isnull().sum())

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [352]:
# Drop rows with missing values
data = data.dropna()

In [354]:
data.shape

(300153, 12)

In [356]:
data.describe()

          Unnamed: 0       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000

In [358]:
data.columns

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [360]:
data["flight"].value_counts()

flight
UK-706     3235
UK-772     2741
UK-720     2650
UK-836     2542
UK-822     2468
           ...
SG-9923       1
6E-6474       1
6E-865        1
G8-705        1
G8-107        1
Name: count, Length: 1561, dtype: int64

In [362]:
# Drop unnecessary columns
data.drop(columns=["Unnamed: 0", "flight"], inplace=True)

In [364]:
# Check for duplicate rows
duplicates = data.duplicated().sum()

In [366]:
# Drop duplicates if any exist
data.drop_duplicates(inplace=True)

In [368]:
# Display updated dataset info and first few rows
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297940 entries, 0 to 300152
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           297940 non-null  object
 1   source_city       297940 non-null  object
 2   departure_time    297940 non-null  object
 3   stops             297940 non-null  object
 4   arrival_time      297940 non-null  object
 5   destination_city  297940 non-null  object
 6   class             297940 non-null  object
 7   duration          297940 non-null  float64
 8   days_left         297940 non-null  int64
 9   price             297940 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 25.0+ MB

In [370]:
data.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [372]:
from sklearn.preprocessing import OneHotEncoder

In [374]:
# Convert 'stops' to numerical values
stops_mapping = {"zero": 0, "one": 1, "two_or_more": 2}
data["stops"] = data["stops"].map(stops_mapping)

In [376]:
# One-hot encoding for categorical variables
categorical_cols = ["airline", "source_city", "departure_time", "arrival_time", "destination_city", "class"]
data_encoded = pd.get_dummies(data, columns=categorical_cols, drop_first=True)  # Avoid multicollinearity

In [378]:
# Display the transformed dataset
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297940 entries, 0 to 300152
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   stops                         297940 non-null  int64
 1   duration                      297940 non-null  float64
 2   days_left                     297940 non-null  int64
 3   price                         297940 non-null  int64
 4   airline_Air_India             297940 non-null  bool
 5   airline_GO_FIRST              297940 non-null  bool
 6   airline_Indigo                297940 non-null  bool
 7   airline_SpiceJet              297940 non-null  bool
 8   airline_Vistara               297940 non-null  bool
 9   source_city_Chennai           297940 non-null  bool
 10  source_city_Delhi             297940 non-null  bool
 11  source_city_Hyderabad         297940 non-null  bool
 12  source_city_Kolkata           297940 non-null  bool
 13  source_city_Mumbai            297940 non-null  bool
 14  departure_time_Early_Morning  297940 non-null  bool
 15  departure_time_Evening        297940 non-null  bool
 16  departure_time_Late_Night     297940 non-null  bool
 17  departure_time_Morning        297940 non-null  bool
 18  departure_time_Night          297940 non-null  bool
 19  arrival_time_Early_Morning    297940 non-null  bool
 20  arrival_time_Evening          297940 non-null  bool
 21  arrival_time_Late_Night       297940 non-null  bool
 22  arrival_time_Morning          297940 non-null  bool
 23  arrival_time_Night            297940 non-null  bool
 24  destination_city_Chennai      297940 non-null  bool
 25  destination_city_Delhi        297940 non-null  bool
 26  destination_city_Hyderabad    297940 non-null  bool
 27  destination_city_Kolkata      297940 non-null  bool
 28  destination_city_Mumbai       297940 non-null  bool
 29  class_Economy                 297940 non-null  bool
dtypes: bool(26), float64(1), int64(3)
memory usage: 18.8 MB

In [380]:
data_encoded.head()

,stops,duration,days_left,price,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Chennai,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,class_Economy
0,0,2.17,1,5953,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,True,True
1,0,2.33,1,5953,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,True
2,0,2.17,1,5956,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,0,2.25,1,5955,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,True
4,0,2.33,1,5955,False,False,False,False,True,False,...,False,False,True,False,False,False,False,False,True,True

In [382]:
# Alternatively, you can use Label Encoding for ordinal categorical variables

In [384]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['stops'] = le.fit_transform(data['stops'])

In [386]:
from sklearn.preprocessing import StandardScaler

In [388]:
# Initialize the scaler
scaler = StandardScaler()
# Scale the numerical features
data[['duration', 'days_left']] = scaler.fit_transform(data[['duration', 'days_left']])

In [390]:
from sklearn.model_selection import train_test_split

In [392]:
# Define the features (X) and target variable (y)
X = data.drop('price', axis=1)
y = data['price']

In [394]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [396]:
# Save the preprocessed data
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

In [397]:
# Verify if there are any non-numeric columns in the dataset
non_numeric_columns = data_encoded.select_dtypes(include=['object']).columns.tolist()

# Display non-numeric columns, if any
non_numeric_columns

[]

In [400]:
from sklearn.feature_selection import SelectKBest, f_regression

In [402]:
# Define features (X) and target (y)
X = data_encoded.drop(columns=["price"])  # Features
y = data_encoded["price"]  # Target variable

In [404]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [406]:
# Apply SelectKBest to choose top 10 features
selector = SelectKBest(score_func=f_regression, k=10)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [408]:
# Get selected feature names
selected_feature_names = X.columns[selector.get_support()].tolist()

In [410]:
# Display the selected features
selected_feature_names

['stops',
 'duration',
 'days_left',
 'airline_Air_India',
 'airline_GO_FIRST',
 'airline_Indigo',
 'airline_SpiceJet',
 'airline_Vistara',
 'arrival_time_Late_Night',
 'class_Economy']

In [412]:
print(X_train.head())
print(y_train.head())

        stops  duration  days_left  airline_Air_India  airline_GO_FIRST  \
298015      1     16.17         48              False             False
283340      1      8.33         10              False             False
87620       1     19.25         19              False             False
119731      1     24.58          1              False             False
34004       1     11.42         40              False             False

        airline_Indigo  airline_SpiceJet  airline_Vistara  \
298015           False             False             True
283340           False             False             True
87620            False              True            False
119731           False             False             True
34004            False             False             True

        source_city_Chennai  source_city_Delhi  ...  arrival_time_Evening  \
298015                 True              False  ...                 False
283340                False              False  ...                  True
87620                 False              False  ...                 False
119731                False              False  ...                 False
34004                 False               True  ...                 False

        arrival_time_Late_Night  arrival_time_Morning  arrival_time_Night  \
298015                    False                  True               False
283340                    False                 False               False
87620                      True                 False               False
119731                    False                  True               False
34004                     False                 False                True

        destination_city_Chennai  destination_city_Delhi  \
298015                     False                   False
283340                     False                   False
87620                      False                    True
119731                     False                    True
34004                      False                   False

        destination_city_Hyderabad  destination_city_Kolkata  \
298015                       False                      True
283340                       False                      True
87620                        False                     False
119731                       False                     False
34004                         True                     False

        destination_city_Mumbai  class_Economy
298015                    False          False
283340                    False          False
87620                     False           True
119731                    False           True
34004                     False           True

[5 rows x 29 columns]
298015    84464
283340    48851
87620     10636
119731    15099
34004      5772
Name: price, dtype: int64

In [414]:
for col in categorical_cols:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

In [416]:
# Dataset Description
data.describe()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
count,297940.000000,297940.000000,297940.000000,297940.000000,297940.000000,297940.000000,297940.000000,2.979400e+05,2.979400e+05,297940.000000
mean,3.099966,2.579385,2.418484,0.929328,3.069685,2.589585,0.687276,2.426825e-16,-8.967043e-17,20976.448604
std,1.835809,1.751424,1.754818,0.393519,1.742869,1.744450,0.463604,1.000002e+00,1.000002e+00,22734.394635
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.595858e+00,-1.844382e+00,1105.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,-7.472837e-01,-8.117184e-01,4792.000000
50%,3.000000,2.000000,2.000000,1.000000,4.000000,3.000000,1.000000,-1.327988e-01,-3.394218e-04,7466.000000
75%,5.000000,4.000000,4.000000,1.000000,5.000000,4.000000,1.000000,5.416019e-01,8.848012e-01,42521.000000
max,5.000000,5.000000,5.000000,2.000000,5.000000,5.000000,1.000000,5.231752e+00,1.696180e+00,123071.000000

In [418]:
#  Creating a Binary Classification Target Variable
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [420]:
data = pd.DataFrame(data)

In [422]:
# Create a binary classification target variable: 'price_category' based on price
threshold = data['price'].median()  # You can change the threshold here
data['price_category'] = np.where(data['price'] > threshold, 1, 0)

In [424]:
# Features (X) and target (y)
X = data.drop(['price', 'price_category'], axis=1)
y = data['price_category']

In [426]:
# Splitting the Data into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [428]:
# Standardizing the Features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [430]:
# Initializing and Training the Logistic Regression Model
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [432]:
# Making Predictions
y_pred = model.predict(X_test)

In [434]:
# Evaluating the Model's Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 90.40%